.purple{
    width: 50vw;
    height: 600px;
    background-color: purple;
    margin: 0 auto;
    position: relative;
}
.pink{
    width: 80%;
    height: 80%;
    background-color: pink;
    position: absolute;
    left:calc(50% - 40%);
    top: calc(50% - 40%);
}
.yellow{
    width: 60%;
    height: 60%;
    background-color: yellow;
    position: absolute;
    left: calc(50% - 30%);
}